*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    background-color: #3e98b4;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 36px;
    padding: 0;
    animation: slideIn 1s forwards;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #ffffff;
}
body {
    font-family: "Arial", sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: slideOn 1s forwards;
}

.blok {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #3e98b4;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.name h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.body p {
    font-size: 16px;
    color: #ffffff;
    line-height: 1.6;
}

.blok2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 20px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #3e98b4;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card p {
    font-size: 14px;
    color: #555;
    margin: 0;
    line-height: 1.4;
}
@keyframes slideIn {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }}
@keyframes slideOn {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }}